.row {
   box-sizing: border-box;
   height: 100%;
   background-attachment: red;
}

.back {
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 1000;
}

.back:hover {
   transform: scale(1.2);
   transition-duration: 0.4s;
}

.left {
   display: block;
   height: 100%;
   box-sizing: border-box;
   background-color: white;
   overflow: hidden;
}

.back-home-button {
   z-index: 100;
   position: absolute;
   top: 27.8%;
   left: 30%;
}

.back-home-button:hover {
   transform: scale(1.4);
}

.back-to-homepage {
   display: block;
   height: 150px;
   position: absolute;
   top: 4%;
   left: 17.7%;
   padding: 1.2rem;
   background-color: rgba(255, 255, 255, 0.555);
   color: white;
   font-size: 24pt;
   font-family: 'Times New Roman', Times, serif;
   border: #000;
   z-index: 900;
}


.back-to-homepage:hover {
   transform: scale(1.3);
   transition-duration: 0.3s;
}

.background {
   background-color: red;
   height: 40%;
   position: relative;
}

.background img {
   height: 100%;
   width: 100%;
   filter: brightness(30%);
}

.cut-corner-left {
   border-top: 50px solid transparent;
   border-left: 200px solid white;
   position: absolute;
   bottom: 0;
}

.cut-corner-right {
   border-top: 20px solid transparent;
   border-right: 200px solid white;
   position: absolute;
   bottom: 0;
   right: 0;
}

.main-info {
   position: relative;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-image-container {
   position: relative;
   top: -50px;
}

.profile-image {
   height:120px;
   width: 120px;
   border-radius: 50%;
   border: 3px solid white;
}


.name {
   font-size: 27pt;
   font-weight: 700;
}

.title {
   font-size: 20pt;
   font-weight: 500;
}

.follow-him {
   font-family: sans-serif;
   font-weight: 600;
   color: black;
   text-align: center;
   font-size: 30px;
   width: 100%;
   padding: 5% 2%;
   position: relative;
}

.follow-him:before {
   content: "";
   display: block;
   width: 29%;
   height: 6px;
   background: #000;
   left: 0;
   top: 47%;
   position: absolute;
}

.follow-him:after {
   content: "";
   display: block;
   width: 29%;
   height: 6px;
   background: #000;
   right: 0;
   top: 47%;
   position: absolute;
}

.social-media {
   width: 100%;
   display: flex;
   justify-content: center;
}

.social-media-icon {
   margin: 2% 6%;
   height: 30px;
}

.social-media-icon:hover {
   transform: scale(1.5);
   transition-duration: .2s;
}

.right {
   color: white;
   position: relative;
   right: 0;
   background-color: #232323;
}

.category {

   font-family: sans-serif;
   font-weight: 600;
   text-align: center;
   font-size: 30px;
   width: 100%;
   padding: 5% 2%;
   position: relative;
}

.category:before {
   content: "";
   display: block;
   width: 29%;
   height: 6px;
   background: #fff;
   left: 0;
   box-shadow: 0 2px 20px rgba(255, 255, 255, 0.329);
   top: 47%;
   position: absolute;
}

.category:after {
   content: "";
   display: block;
   width: 29%;
   height: 6px;
   background: #fff;
   right: 0;
   box-shadow: 0 2px 20px rgba(255, 255, 255, 0.397);
   top: 47%;
   position: absolute;
}

.description-row {
   display: flex;
   font-size: 15pt;
}

.education {
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.education-container .question {
   padding: 2%
}

.question {
   font-weight: 600;
}

.answer {
   font-size: 14pt;
   color: white;
   opacity: 0.8;
}

.separated-row {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

@media (min-width: 768px) {
   .back-to-homepage {
      position: absolute;
      left: 15.2%;
   }

   .back-home-button {
      top: 28%;
      left: 19%;
   }
}